:root {
    --GradientColor1: rgba(245, 156, 192, 0.8);
    --GradientColor2: rgba(130, 245, 151, 0.8);
}

* {
    margin: 0;
    padding: 0;
}

footer {
    background: url("wave.png");
}

.body {
    /*background-color: red;*/
    height: 100vh;
    background: linear-gradient(to right, var(--GradientColor1), var(--GradientColor2));
}

.myFooter {
    position: fixed;
    width: 100vw;
    bottom: 0;
}