* {
    margin: 0;
    padding: 0;
}

footer {
    background: url("wave.png");
}

.body {
    /*background-color: red;*/
    height: 100vh;
}

.myFooter {
    position: fixed;
    width: 100vw;
    bottom: 0;
}